@import "react-toastify/dist/ReactToastify.css";
@tailwind base;
@tailwind components;
@tailwind utilities;




html {
    font-family: Poppins, sans-serif;
}

:root {
    /*--toas*/
}

.Toastify__toast-body {
    @apply flex items-start;
}

.Toastify__toast-icon {
    @apply mt-2;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.leaflet-popup-content-wrapper {
    @apply !bg-black !shadow !text-white;
}
